[Unit]
Description=Gandi IP address update

[Service]
Type=oneshot
ExecStart=/path/to/checkout/gandi-update.sh
RemainAfterExit=false
ExecStop=

[Install]
WantedBy=default.target
