[Unit]
Description=Update IP address records of domains on Gandi

[Service]
Type=oneshot
WorkingDirectory=/path/to/checkout
ExecStart=gandi-update.sh
RemainAfterExit=false
ExecStop=
